.signin-container {
    margin-top: 10rem;
    width: 40%;
}

.signin-form-1 {
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
}

.signin-form-1 h3 {
    text-align: center;
    color: #333;
}

.signin-container form {
    padding: 10%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.signin-form-1 .btnSubmit {
    color: #fff;
    background-color: #0062cc;
}